header {
    border-bottom: 1px solid $dark-purple;

    .header-content {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            text-align: center;

            a {
                font-family: $secondary-font;
                font-size: 3em;
                margin: 0;
            }

            p {
                margin: 0;
                margin-top: -10px;
                opacity: .8;
            }
        }
    }
}