nav {
    width: 75%;

    ul {
        display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: flex-end;
        font-size: 1.5em;
        padding-left: 0;
        text-transform: lowercase;

        li {
            text-align: right;
            width: 140px;

            a[aria-current="page"] {
                color: $active-link;
            }
        }
    }
}